.App {
  text-align: center;
}

input[type="button"] { 
  background-color:white; 
  color: black; 
  border: solid black 5px; 
  width:100% 
} 

input[type="text"] { 
  background-color:white; 
  border: solid black 5px; 
  width:100% 
} 

.App td{
  width: 100px;
  height: 100px;
  border: solid black 2px;
}

.App {
  margin-left: 30%;
  margin-top: 4%;
  border: solid black 2px;
  width: 30%;
  box-shadow: 0 0 100px 0 #000000;   
} 

.calculate {
  background-color: rgba(255, 99, 71, 1);
  color: white;
}

.calculate:hover{
  background-color: #ADFF2F;
  color: black;
}

#made {
  background-color: black;
  color:white;
}

.zayro {
  width: 100%;
  height: 100%;
  background-color: black;
  color:white;
}

.back0 {
  background-color: aliceblue;
  color: red;
}

.back0:hover{
  background-color: aliceblue;
  color: red;
}

td:hover {
  background-color: yellow;
  color: black;
}

.buttonforeset {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 99, 71, 1);
  color: white;
}

.buttonforeset:hover {
  background-color: #ADFF2F;
  color: black;
}


.confetti {
  width: 100%;
  height: 100%;
}

.container2 {
  width: 20%;
  height: 20%;
  background-color: red;
} 